@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,700;1,700&display=swap');

:root{
  --blue_bcg: #8cc8d1;
  --blue_nav: #2a878f;
  --blue_2: #4ca1d6;
  --blue_3: #4BB8D4;
  --vibr_green: #4CA773;
  --text: #2F4F4F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  background-color: var(--blue_bcg);
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*NAVIGATION BAR*/
.header {
  background-color: var(--blue_nav);
  position: fixed;
  width: 100%;
  box-shadow: 8px 8px 15px #1B565C;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem;
}

.toggle-btn {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 3rem;
}

.nav-link {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  padding: 10px;
}

.nav-link:hover {
  color: var(--blue_nav);
  background-color: #fff;
  border-radius: 50px;
}

.nav-name {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
}

/*FIRST PAGE*/
.heading{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 5vh;
}

.logo-img{
  height: 20vh;
  margin-top: 10vh;
}

.heading-text{
  margin-top: 9vh;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  padding: 15px;
  text-align: center;
}

.gallery{
  margin: 2vh;
  width: 100%; 
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: center;
  display: none;
  gap: 5px;
}

.cat{
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.collage{
  margin-top: 3vh;
  width: 100%;
}

.scrollable-img{
  opacity: 0;
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  will-change: transform, opacity;
  z-index: 1;
}

.scrollable-img.is-visible {
  opacity: 1;
}

/*CHI SONO*/
.sec-chisono, .sec-dispo, .sec-contatti {
  width: 80%;
  margin: 10px auto;
  padding: 20px;
}

.title-chisono, .title-dispo, .title-contatti {
  text-align: center;
  font-family: "Lobster", sans-serif;
  font-size: 4em;
  margin-bottom: 20px;
  color: #2F4F4F;
}

.main-chisono {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-chisono {
  max-width: 30%; 
  border-radius: 15px;
  margin-right: 20px;
}

.text-chisono, .text-dispo, .text-contatti {
  flex-grow: 1;
  font-size: 1.5em;
  line-height: 1.6;
  color: var(--text);
  border-bottom: 3px solid var(--blue_nav);
  border-right: 3px solid var(--blue_nav);
  border-radius: 15px;
  padding: 20px;
  font-weight: 500;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

/*DISPONIBILITÀ*/
.text-dispo {
  text-align: center;
}

.phone-number{
  text-decoration: none;
  font-weight: 600;
  color: var(--text);
}

/*CONTATTI*/
.text-contatti {
  text-align: center;
}

.text-contatti a {
  text-decoration: none;
  color: var(--blue_nav); 
  font-weight: bold; 
}

.text-contatti a:hover {
  color: var(--blue_3); 
}


/*GO UP*/
.go-up {
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: none; /* Hidden by default */
  opacity: 0.5; /* Semi-transparent */
  transition: opacity 0.3s ease;
}

.go-up:hover {
  opacity: 1; /* Fully opaque on hover */
}

.go-up a {
  display: block;
}

.go-up-arr {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/*FOOTER*/
.social-icon{
  width:20px;
  height: auto;
}

.footer{
  padding: 40px 0;
  background-color: rgb(42, 135, 143, 0.6);
}

.footer .social{
  text-align: center; 
  padding-bottom: 25px;
  color: var(--text);
}

.footer .social a{
  font-size: 24px; 
  color: inherit; 
  border: 1px solid var(--text);
  width: 40px; 
  height: 40px;
  line-height: 38px; 
  display: inline-block; 
  text-align: center; 
  border-radius: 50%;
  margin: 0 8px; 
  opacity: 0.75;
}

.footer .social a:hover{
  opacity: 0.9;
} 

.footer ul{ 
  margin-top: 0; 
  padding: 0;
  list-style: none; 
  font-size: 16px;
  line-height: 1.6; 
  margin-bottom: 0; 
  text-align: center;
}

.footer ul li a{
  color: var(--text);
  text-decoration: none;
  opacity: 0.6;
} 

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
  
.footer ul li a:hover { 
  opacity: 1;
}

.footer .copyright{
  margin-top:15px;
  text-align: center;
  font-size: 12px;
  color: var(--text);
}